* {
  box-sizing: border-box;
}

.bg-img {
  /* The image used */
  background-color: darksalmon;

  /* Control the height of the image */

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
	border-radius: 10px;
}

h1{
	background-color: dodgerblue;
	font-family: monospace;
	padding: 20px;
		border-radius: 10px;
}

.back{

	
	border-radius: 10px;
	
}

/* Add styles to the form container */
.box {
  position: absolute;
  right: 0;
  margin: 20px;
  max-width: 300px;
  padding: 16px;
  background-color: darkorange;
  border-radius: 10px;
}

/* Full-width input fields */
  input{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
	  text-align: center;
	  border-radius: 10px;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
.btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 10px;
	margin: 5px;
	font-family: monospace;
	font-size: 17px;
}

.btn:hover {
  opacity: 1;
}

.fp{
	color: black;
	
}

.fp a:hover{
	background-color: white;
	color: blueviolet;
}